<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 引入性参数文件,只能用一次加载配置 -->
    <context:property-placeholder location="classpath:important.properties,config.properties,common.properties,authen.properties"/>

    <!--<import resource="applicationContext/applicationContext-ActiveMQ-consumer.xml"></import>-->
    <!--<import resource="applicationContext/applicationContext-cache.xml"></import>-->
    <import resource="applicationContext/applicationContext-dao.xml"></import>
    <import resource="applicationContext/applicationContext-dataSource.xml"></import>
    <import resource="applicationContext/applicationContext-service.xml"></import>

</beans>