<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" CONTENT="-1">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <link rel="stylesheet" href="/wx/css/g/baolong/html5/g.css">
    <link rel="stylesheet" href="/wx/css/p/baolong/html5/register.css">
    <script type="text/javascript" src="/wx/js/g/zepto.min.js"></script>
</head>
<body onload="load();">
<!--html start-->
<div class="page">
    <div class="register">
        <div class="topblock">
            <i>
                <a href="javascript:history.go(-1)"><img src="/image/back.png"></a>
            </i>
            <h2>注册</h2>
        </div>
        <div class="tip">
            <div class="tip1">温馨提示</div>
            <div class="tip2">新注册会员的初始密码为注册手机号的后6位，登录成功后，您可以到你密码管理页面中修改密码</div>
        </div>
        <div class="form">
            <form>
                <ul>
                    <li>
                        <i>
                            <img src="/wx/img/baolong/html5/register/usericon.png">
                        </i>
                        <input class="mip" type="input" id="phonenum" placeholder="请输入手机号" data-v="require-phone">
                        <div class="merr hide" id="phonetip">此处为必填项</div>
                    </li>
                    <li>
                        <i>
                            <img src="/wx/img/baolong/html5/register/yzm.png">
                        </i>
                        <input class="mip key" type="input" placeholder="请输入验证码" data-v="require-range|6_8">
                        <div class="getkey" id="getkey">
                            获取验证码
                        </div>
                        <div class="mask hide" id="mask"></div>
                        <div class="merr hide">此处为必填项</div>
                    </li>
                    <li>
                        <div>
                            <input class="mbt1" id="j_sb" type="submit" value="注册">
                        </div>
                    </li>
                    <li>
                        <div class="mbox">
                            <input type="checkbox" id="agreement" checked>我已同意《<a href="#">宝龙会员协议</a>》
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
    #include("foot.vm")
<!--html end-->
<script type="text/javascript">
    var load = function () {
        var getkey = document.getElementById("getkey");
        var mask = document.getElementById("mask");
        getkey.onclick = function () {
            mask.setAttribute("style", "display:block;");
            var timer = 59;
            var interval = setInterval(function () {
                if (timer <= 0) {
                    getkey.innerHTML = "获取验证码";
                    mask.setAttribute("style", "display:none;");
                    clearInterval(interval);
                } else {
                    getkey.innerHTML = timer + "秒后重试";
                }
                timer--;
            }, 1000);
            var phoneNumber = document.getElementById("phonenum");
            $.ajax({
                type: "POST",
                url: "/aj/member/getauthcode",
                data: {mobile: phoneNumber.value},
                dataType: "json",
                success: function (data) {
                },
                error: function (xhr, type) {
                }
            });
        };

        //验证用户输入的手机号
        var phoneNum = document.getElementById("phonenum");
        phoneNum.onblur = function () {
            _validatePhone();
        };

        //给同意宝龙会员协议勾选框添加事件
        var agreement = document.getElementById("agreement");
        agreement.onclick = function () {
            var j_sb = document.getElementById("j_sb");
            if (this.checked) {
                j_sb.setAttribute("style", "background-color:#f35142");
                j_sb.disabled = false;
            } else {
                j_sb.setAttribute("style", "background-color:#bababa");
                j_sb.disabled = true;
            }
        };
    };
    var _validatePhone = function () {
        var phone = document.getElementById("phonenum");
        var phoneValue = phone.value;
        if (phoneValue.length == 0) {
            _showPhoneMessage('请输入手机号码！', true);
            phone.focus();
            return;
        }
        if (phoneValue.length != 11) {
            _showPhoneMessage('请输入有效的手机号码！', true);
            phone.focus();
            return;
        }

        var phoneReg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (!phoneReg.test(phoneValue)) {
            //alert('请输入有效的手机号码！');
            _showPhoneMessage('请输入有效的手机号码！', true);
            phone.focus();
            return;
        }

        _showPhoneMessage(false);
    }
    var _showPhoneMessage = function (message, show) {
        var phoneTip = document.getElementById("phonetip");
        if (show === true) {
            phoneTip.setAttribute("class", "merr");
            phoneTip.innerHTML = message;
        } else {
            phoneTip.setAttribute("class", "merr hide");
        }

    };

</script>
</body>
</html>