<head>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css">
</head>
<div class="footblock">
    <ul class="footerlist clearfix">
        <li class="footsy">
            <div>
                <a href="/index">
                    <span class="iconfont icon-home"></span><br>
                    <span>首页</span>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="#" class="footyh">
                    <span class="iconfont icon-help"></span><br>
                    <span>帮助中心</span>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/orders" class="footsh">
                    <span class="iconfont icon-order"></span><br>
                    <span>我的订单</span>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/users" class="footwd">
                    <span class="iconfont icon-member"></span><br>
                    <span>个人中心</span>
                </a>
            </div>
        </li>
    </ul>
</div>