<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<title>公交卡充值系统</title>
    #include( "head.vm" )

<body>
<!--html start-->
<div class="page">
    <div class="home">
    </div>
    <div class="topblock">
        <h2>公交卡充值系统</h2>
    </div>
    <div class="banner" id="banner">
        <ul style="width: 1240px; overflow: hidden; transform: translateX(-620px); transition-duration: 200ms;">
            #foreach($adImage in $adImageList)
                <li style="width: 620px; vertical-align: top; display: table-cell;">
                    <a href="$adImage.getResponseUrl()"><img src=$adImage.getImgUrl()>
                    </a>
                </li>
            #end
        </ul>
    </div>


    <div class="section" draggable="false">
        <ul class="secnav clearfix">
            <li>
                <div>
                    <a draggable="false" href="#">
                        <img draggable="false" alt=""
                             src="/image/food.png"><br>
                        <span>餐饮</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a draggable="false" href="#">
                        <img draggable="false" alt=""
                             src="/image/map.png"><br>
                        <span>商城导航</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a draggable="false" href="#">
                        <img draggable="false" alt=""
                             src="/image/wifi.png"><br>
                        <span>免费WIFI</span>
                    </a>
                </div>
            </li>
            <li class="lastsecnav">
                <div>
                    <a draggable="false" href="#">
                        <img draggable="false" alt=""
                             src="/image/park.png"><br>
                        <span>停车</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

##  公交卡
    <div class="page">
        #foreach($card in $cardList)

            <div class="hyk">
                <div class="cardinfo">
                    <div class="card">
                        <div class="cardnum">
                            <span class="title">卡号:</span>
                            <span class="num">$card.getCardId()</span>
                        </div>
                        <div class="carddate">
                            <span class="title">备注:</span>
                            <span class="date">$card.getRemark()</span>
                        </div>
                        <div class="card-btn">
                            <span><a href="//127.0.0.1/cards/$card.getCardId()/editPage">编辑</a> </span>
                            <span><a href="//127.0.0.1/cards/$card.getCardId()/orders/new">充值</a> </span>
                        </div>
                    </div>
                </div>
            </div>
        #end

    </div>

    <a href="http://127.0.0.1/html/addCard.html"><input type="button" value="添加卡片"></a>
    <br>

    <div class="footblock">
        <ul class="footerlist clearfix">
            <li>
                <div>
                    <a href="http://127.0.0.1/index" class="footsy">
                        <img alt="" src="/image/home.png"><br>
                        <span>首页</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="footyh">
                        <img alt="" src="/image/yh.png"><br>
                        <span>帮助中心</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="//127.0.0.1/orders" class="footsh">
                        <img alt="" src="/image/stores.png"><br>
                        <span>我的订单</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="//127.0.0.1/users" class="footwd">
                        <img alt="" src="/image/wod.png"><br>
                        <span>个人中心</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</div>
<!--html end-->
<script type="text/javascript">
</script>
</body>
</html>