<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <link rel="stylesheet" href="/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="/css/g.css">
    <link rel="stylesheet" href="/css/hyk.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/public.css">


    <script src="/js/silder.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>

</head>
<body onload="_load()">
<!--html start-->
<div class="page">
    <header class="header">
        <a href="javascript:history.go(-1)" class="back comm_20_down"></a> 登录
    </header>
    <div class="login">
        <div class="tip">
            <div class="tip1">温馨提示</div>
            <div class="tip2" style="color: #cb2517">$!{message}</div>

        </div>
        <div class="form">
            <form id="_login_form" action="/users/cookie" method="post">
                <ul>
                    <li>
                        <i>
                            <img src="/image/usericon.png">
                        </i>
                        <input class="mip" type="input" id="userName" name="userName" placeholder="请输入用户名"
                               onchange="_validateUserName()" data-v="require-phone">
                        <div class="merr hide" id="userNametip">此处为必填项</div>
                    </li>
                    <li>
                        <i>
                            <img src="/image/locker.png">
                        </i>
                        <input class="mip" id="password" type="password" name="password" placeholder="密码"
                               onchange="_validatepassword()"
                               data-v="require-range|6_8">
                        <div class="merr hide" id="passwordtip">此处为必填项</div>
                    </li>
                    <li>
                        <div>
                            <input class="mbt1" id="j_sb" type="button" onclick="_submit()" value="提交">
                        </div>
                    </li>
                    <li>
                        <div class="mbox">
                            <a class="reg" href="/users/registerPage">免费注册</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    #include("foot.vm")

</div>

<!--html end-->
<script type="text/javascript">
    var _load = function () {
        var userName = jQuery('input[name=userName]').val();
        userName.onblur = function () {
            _validateUserName(this);
        };
        var password = jQuery('input[name=password]').val();
        password.onblur = function () {
            _validatepassword(this);
        };
    };
    var _submit = function () {

        var userName = jQuery('input[name=userName]').val();

        if (userName == null | userName.length == 0) {
            _showErrorMessage("userNametip", "用户名不能为空！", true);
            userName.focus();
            return;
        }
        _showErrorMessage('userNametip', false);

        var password = jQuery('input[name=password]').val();

        if (password == null) {
            _showErrorMessage("passwordtip", "密码不能为空！", true);
            password.focus();
            return;
        }
        if (password.length < 6) {
            _showErrorMessage("passwordtip", "密码不能少于6位！", true);
            password.focus();
            return;
        }
        jQuery('#_login_form').submit();
    };


    var _showErrorMessage = function (messId, message, show) {
        if (messId == null) return;
        var Tip = document.getElementById(messId);
        if (show === true) {
            Tip.setAttribute("class", "merr");
            Tip.innerHTML = message;
        } else {
            Tip.setAttribute("class", "merr hide");
        }
    };


    var _validateUserName = function () {
        var userName = jQuery('input[name=userName]').val();

        if (userName == null | userName.length == 0) {
            _showErrorMessage("userNametip", "用户名不能为空！", true);
            userName.focus();
            return;
        }
        _showErrorMessage('userNametip', false);

    }

    var _validatepassword = function () {
        var password = jQuery('input[name=password]').val();

        if (password == null) {
            _showErrorMessage("passwordtip", "密码不能为空！", true);
            password.focus();
            return;
        }
        if (password.length < 6) {
            _showErrorMessage("passwordtip", "密码不能少于6位！", true);
            password.focus();
            return;
        }
        _showErrorMessage('passwordtip', false);

    }
</script>
</body>
</html>