<!DOCTYPE html>
<html>
    #include("head.vm")
<head>
    <meta charset="utf-8"/>
    <title>优惠券</title>
</head>
<body onload="load();">
<!--html start-->
<div class="page">
    <header class="header">
        <a href="javascript:history.go(-1)" class="back comm_20_down"></a> 我的订单
    </header>
    <div class="coupon">
    ##        banner
        <div class="banner" id="banner">
            <ul style="width: 1240px; overflow: hidden; transform: translateX(-620px); transition-duration: 200ms;">
                #foreach($adImage in $adImageList)
                    <li style="width: 620px; vertical-align: top; display: table-cell;">
                        <a href="$adImage.getResponseUrl()"><img src=$adImage.getImgUrl()>
                        </a>
                    </li>
                #end
            </ul>
        </div>

        <div class="filter">
            <ul class="clearfix">
                <a href="#">
                    <li id="storesdown">
                        全部商户
                        <img src="/image/down.png">
                    </li>
                </a>
                <a href="#">
                    <li id="typesdown">
                        全部类型
                        <img src="/image/down.png">
                    </li>
                </a>
            </ul>
        </div>
        <div class="filterpanel" id="filterpanel">
            <div class="alltype" id="allstores">
                <ul class="clearfix">
                    <li class="checked">全部楼层</li>
                    <li>1层</li>
                    <li>2层</li>
                    <li>3层</li>
                    <li>4层</li>
                    <li>5层</li>
                </ul>
            </div>
            <div class="alltype" id="alltype">
                <ul class="clearfix">
                    <li>我的关注</li>
                    <li>美食餐饮</li>
                    <li>娱乐</li>
                    <li>超市</li>
                </ul>
            </div>
        </div>
        <div class="hdlist">

            <ul class="list">
                #foreach($order in $orderList)
                    <li>
                        <div>
                            <a class="clearfix" href="#">
                                <span class="hdpic"><img alt=""
                                                         src="http://s.demo.shangquanquan.com/wx/img/baolong/html5/coupon/huodong0.png"></span>
                                <span class="hdstate"><img alt=""
                                                           src="http://s.demo.shangquanquan.com/wx/img/baolong/html5/coupon/open.png"></span>
                                <span class="hdxq">
                                    <span class="title">一卡通充值</span>
                                    <span class="time">订单:$order.getOrderId()</span>
                                    <span class="time">卡号:$order.getCardId()</span>
                                    <span class="tickettype">订单状态:$order.getOrderStatus()</span>
                                </span>
                                <span class="limit cost">￥$order.getMoney()</span>
                            </a>
                        </div>
                    </li>
                #end
            </ul>
        </div>

    </div>

    <div class="footblock">
        <ul class="footerlist clearfix">
            <li>
                <div>
                    <a href="http://127.0.0.1/index">
                        <span class="iconfont icon-home"></span><br>
                        <span>首页</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="footyh">
                        <span class="iconfont icon-help"></span><br>
                        <span>帮助中心</span>
                    </a>
                </div>
            </li>
            <li class="footsy">
                <div>
                    <a href="//127.0.0.1/orders" class="footsh">
                        <span class="iconfont icon-order"></span><br>
                        <span>我的订单</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="//127.0.0.1/users" class="footwd">
                        <span class="iconfont icon-member"></span><br>
                        <span>个人中心</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>


    <!--html end-->
    <script type="text/javascript">
        Silder({"id": "banner", "creObjClassN": "numb", "titCellPadding": 0, "titCellMargin": 0, "play": true});
        var switchPanelStyle = function (that) {
            if (that == null) return;
            var filterPanel = document.getElementById("filterpanel");
            filterPanel.setAttribute("style", "display:block;")
            var allStores = document.getElementById("allstores");
            var allType = document.getElementById("alltype");
            var id = that.getAttribute("id");
            switch (id) {
                case "storesdown":
                    allStores.setAttribute("style", "display:block;");
                    allType.setAttribute("style", "display:none;");
                    break;
                case "typesdown":
                    allType.setAttribute("style", "display:block;");
                    allStores.setAttribute("style", "display:none;");
                    break;
            }
        };
        var load = function () {
            var storesdown = document.getElementById("storesdown");
            var typesdown = document.getElementById("typesdown");
            storesdown.onclick = function () {
                var isExpand = this.getAttribute("isExpand");
                if (!isExpand || isExpand == "false") {
                    isExpand = "true";
                    this.setAttribute("isExpand", isExpand);
                    switchPanelStyle(this);
                    this.setAttribute("style", "border-bottom:none;border-top:2px solid #63b12f;");
                    typesdown.setAttribute("style", "border-top: 1px solid #d8d8d8;");
                    typesdown.setAttribute("isExpand", "false");
                } else if (isExpand == "true") {
                    this.setAttribute("style", "border-top: 1px solid #d8d8d8;");
                    var allSotores = document.getElementById("allstores");
                    allSotores.setAttribute("style", "display:none;")
                    var filterPanel = document.getElementById("filterpanel");
                    filterPanel.setAttribute("style", "display:none;");
                    isExpand = "false";
                    this.setAttribute("isExpand", isExpand);
                }
            };
            typesdown.onclick = function () {
                var isExpand = this.getAttribute("isExpand");
                if (!isExpand || isExpand == "false") {
                    isExpand = "true";
                    this.setAttribute("isExpand", isExpand);
                    switchPanelStyle(this);
                    this.setAttribute("style", "border-bottom:none;border-top:2px solid #63b12f;");
                    storesdown.setAttribute("style", "border-top: 1px solid #d8d8d8;");
                    storesdown.setAttribute("isExpand", "false");
                } else if (isExpand == "true") {
                    this.setAttribute("style", "border-top: 1px solid #d8d8d8;");
                    var allType = document.getElementById("alltype");
                    allType.setAttribute("style", "display:none;");
                    var filterPanel = document.getElementById("filterpanel");
                    filterPanel.setAttribute("style", "display:none;");
                    isExpand = "false";
                    this.setAttribute("isExpand", isExpand);
                }

            };
        };

    </script>

</body>
</html>