<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>个人资料</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" CONTENT="no-cache">
        <meta http-equiv="Pragma" CONTENT="no-cache">
        <link rel="stylesheet" href="/css/iconfont/iconfont.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/g.css">

        <link rel="stylesheet" href="/css/personal.css">
        <link rel="stylesheet" href="/css/public.css">


        <script src="/js/silder.js" type="text/javascript"></script>
        <script src="/js/jquery.min.js" type="text/javascript"></script>
    </head>
</head>
<body onload="load()">
<!--html start-->
<div class="page">
    <header class="header">
        <a href="javascript:history.go(-1)" class="back comm_20_down"></a> 个人资料
    </header>

    <div class="info">
        <div class="setlist">
            <ul class="clearfix list">
                <li id="setname">
                    <img src="/image/name.png" class="frontpic">
                    <span class="text">用户名</span>
                    <img class="endpic" src="/image/rightarrow.png">
                    <span class="value" id="name">$!user.getUserName()</span>
                </li>
                <li id="setgender">
                    <img src="/image/gender.png" class="frontpic">
                    <span class="text">性别</span>
                    <img class="endpic" src="/image/rightarrow.png">
                    <span class="value" id="gender">$!user.getSex()</span>
                </li>
                <li id="setdate">
                    <img src="/image/date.png" class="frontpic">
                    <span class="text">出生年月</span>
                    <img class="endpic" src="/image/rightarrow.png">
                    <span class="value" id="date">$!user.getBirthday()</span>
                </li>
            </ul>

            <form id="_cookieClearForm" action="//127.0.0.1/users/cookieClear" method="post">
            </form>

            <a style="display:block;position:relative;top:20px;height:34px;line-height:34px;font-size:14px;color:#fff;background:#eb4a42;text-align:center;margin:0 10px;border-radius:3px;"
               onclick="$('#_cookieClearForm').submit();">
            退 出 登 录
            </a>

        </div>
        <div class="mask_personal hidden" id="namemask">
            <div class="inputname">
                <div class="top">修改昵称</div>
                <input type="text" placeholder="请输入新的昵称" id="newname">
                <p>请输入4-10个字符，支持中文、英文、数字、"-"、"_"</p>
                <ul class="clearfix confirm">
                    <li class="cancel" onclick="showObj('namemask','no');">取消</li>
                    <li onclick="confirmSetName()">确定</li>
                </ul>
            </div>
        </div>
        <div class="mask_personal hidden" id="gendermask">
            <div class="choosegender">
                <div class="top">请选择性别</div>
                <ul class="clearfix gender">
                    <li><span>男</span><input type="radio" name="sex" value="男"
                        #if($user.getSex()=='男') checked
                        #end
                    ></li>
                    <li><span>女</span><input type="radio" name="sex" value="女"
                        #if($user.getSex()=='女') checked
                        #end
                    ></li>
                </ul>
                <ul class="clearfix confirm">
                    <li class="cancel" onclick="showObj('gendermask','no');">取消</li>
                    <li onclick="confirmSetSex();">确定</li>
                </ul>
            </div>
        </div>
        <div class="mask_personal hidden" id="datemask">
            <div class="choosedate">
                <div class="top">请选择出生年月</div>
                <input id="birthday" type="date" value="" placeholder="请选择日期"/>
                <ul class="clearfix confirm">
                    <li class="cancel" onclick="showObj('datemask','no');">取消</li>
                    <li onclick="confirmSetDate();">确定</li>
                </ul>
            </div>
        </div>
    </div>

##    foot
    <div class="footblock">
        <ul class="footerlist clearfix">
            <li>
                <div>
                    <a href="/">
                        <span class="iconfont icon-home"></span><br>
                        <span>首页</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/html/help.html" class="footyh">
                        <span class="iconfont icon-help"></span><br>
                        <span>帮助中心</span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/orders" class="footsh">
                        <span class="iconfont icon-order"></span><br>
                        <span>我的订单</span>
                    </a>
                </div>
            </li>
            <li class="footsy">
                <div>
                    <a href="/users" class="footwd">
                        <span class="iconfont icon-member"></span><br>
                        <span>个人中心</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</div>


<!--html end-->
<script type="text/javascript">
    var _back = function () {
        document.location.href = "/users";
    }

    var load = function () {
        //打开设置昵称面板
        var setName = document.getElementById("setname");
        setName.onclick = function () {
            showObj("namemask", "yes");
        };
        //打开设置性别面板
        var setGender = document.getElementById("setgender");
        setGender.onclick = function () {
            showObj("gendermask", "yes");
        };
        //打开设置日期面板
        var setDate = document.getElementById("setdate");
        setDate.onclick = function () {
            showObj("datemask", "yes");
        };
    };
    var showObj = function (objid, yesorno) {
        var obj = document.getElementById(objid);
        if (obj == null) return;
        if (yesorno == "yes") {
            obj.setAttribute("style", "display:block");
        } else if (yesorno == "no") {
            obj.setAttribute("style", "display:none");
        }
    };
    var cancelSetGender = function () {

    };
    var confirmSetName = function () {
        var newName = jQuery('input[id=newname]').val();
        updateUserName('$user.getUserId()', newName);
        showObj("namemask", "no");
        _back();
    };
    var confirmSetSex = function () {
        var sex = $("[name='sex']:checked").val();
        updateUserSex('$user.getUserId()', sex);
        showObj("gendermask", "no");
        _back();
    };
    var confirmSetDate = function () {
        var birthday = jQuery('input[id=birthday]').val();
        updateUserBirth('$user.getUserId()', birthday);
        // var date = document.getElementById("date");
        // date.innerHTML = birthday.value;
        showObj("datemask", "no");
        _back();
    };

    var updateUserName = function (userId, userName) {
        var url = '/users/' + userId + '/userName';
        jQuery.ajax({
            url: url,
            type: 'PUT',
            data: {
                userId: userId,
                userName: userName
            },
            success: function (data) {
                if (data) {
                    alert("修改成功");
                    return;
                } else {
                    alert("修改失败");
                    return;
                }
            },
            error: function () {
                return;
            }
        })
    }

    var updateUserSex = function (userId, sex) {
        var url = '/users/' + userId + '/sex';
        jQuery.ajax({
            url: url,
            type: 'PUT',
            data: {
                userId: userId,
                sex: sex
            },
            success: function (data) {
                if (data) {
                    alert("修改成功");
                    return;
                } else {
                    alert("修改失败");
                    return;
                }
            },
            error: function () {
                return;
            }
        })
    }

    var updateUserBirth = function (userId, birthday) {
        var url = '/users/' + userId + '/birthday';
        jQuery.ajax({
            url: url,
            type: 'PUT',
            data: {
                userId: userId,
                birthday: birthday
            },
            success: function (data) {
                if (data) {
                    alert("修改成功");
                    return;
                } else {
                    alert("修改失败");
                    return;
                }
            },
            error: function () {
                return;
            }
        })
    }

</script>
</body>
</html>