#set($layout="layout/empty.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>交通卡在线充值系统后台</title>
    <link rel="stylesheet" type="text/css" href="http://misc.360buyimg.com/pop-man/201007/skin/erpbase.css" media="all"/>
    <script type="text/javascript" src="http://misc.360buyimg.com/??jdf/lib/jquery-1.6.4.js,pop-man/201007/js/pop.base.js"></script>
</head>

<frameset rows="80,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="topFrame" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame"/>
    <frameset rows="*" cols="169,*" framespacing="0" frameborder="no" border="0">
        <frame
            #foreach($moduleTypeEnum in $ModuleTypeEnums)
                #if($moduleTypeLimitsMap.get(${moduleTypeEnum.getType()}))
                        src="leftFrame?module=${moduleTypeEnum.getCode()}"
                #end
            #end
                        name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame"
                        title="leftFrame"/>
        <frame src="#" name="mainFrame" id="mainFrame" title="mainFrame"/>
    </frameset>

</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>
