<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <context:property-placeholder location="classpath:*.properties"/>

    <!--<import resource="applicationContext/applicationContext-ActiveMQ-producer.xml"></import>-->
    <import resource="applicationContext/applicationContext-cache.xml"></import>
    <import resource="applicationContext/applicationContext-dao.xml"></import>
    <import resource="applicationContext/applicationContext-dataSource.xml"></import>
    <import resource="applicationContext/applicationContext-service.xml"></import>

</beans>