<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.card.service,com.card.manager"></context:component-scan>

    <!--<context:component-scan base-package="com.jd.transport.service,com.jd.transport.dao,com.jd.transport.common">-->
        <!--<context:exclude-filter type="regex" expression="com.jd.transport.service.uplan.*"></context:exclude-filter>-->
        <!--<context:exclude-filter type="regex" expression="com.jd.transport.service.lbs.*"></context:exclude-filter>-->
    <!--</context:component-scan>-->

</beans>