<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="manInterceptor" class="com.card.interceptor.ManInterceptor"></bean>
    <!-- 单点登录拦截器配置 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/users/loginPage"/>
            <mvc:exclude-mapping path="/users/cookie/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/users/register/**"></mvc:exclude-mapping>
            <ref bean="manInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>