#set($title = "ICON管理")
<head>
    <link rel="stylesheet" type="text/css" href="http://misc.360buyimg.com/pop-man/201007/skin/erpbase.css" media="all"/>
</head>
<div id="posi">
    <div>您当前的位置：<a href="#">交通卡在线充值系统后台</a>&nbsp;&gt;&nbsp;<a href="#">$title</a></div>
</div>

<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
<script type="text/javascript" src="/js/common/jquery.min.js"></script>
<script type="text/javascript" src="/js/common/selectDataChannel.js"></script>
<script type="text/javascript" src="/js/timepicker/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-timepicker-addon.min.css">
<script type="text/javascript" src="/js/timepicker/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/js/timepicker/jquery-ui-timepicker-zh-CN.js"></script>

<div id="content">
    <div class="i-con1 table_list" style="word-break: break-all">
        <div class="tb-x1 resultlist">
            <h3>ICON编辑</h3>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td style="vertical-align:middle; text-align:right; height:28px;">ICON权重</td>
                    <td style="vertical-align:middle; text-align:left; height:28px;">
                        <input name="iconWeight" type="number" id="iconWeight" style="width:90%"
                               value="$icon.weight" onblur="if(value==''){value='1000'}"
                               placeholder="权重范围[-500至500]"/>

                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:right; height:28px;">ICON描述</td>
                    <td style="vertical-align:middle; text-align:left; height:28px;">
                        <input type="text" id="desc" name="desc" value="$!{icon.desc}"
                               size="100"
                               maxlength="100"
                               placeholder="输入ICON描述"/>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:right; height:28px;">ICONURL</td>
                    <td style="vertical-align:middle; text-align:left; height:28px;">
                        <input type="text" id="imgUrl" name="imgUrl" value="$!{icon.imgUrl}"
                               size="100"
                               maxlength="500"
                               placeholder="输入广告图URL（格式：https://www.jd.com 或者http://www.jd.com）"/>
                    </td>
                </tr>

                <tr>
                    <td style="vertical-align:middle; text-align:right; height:28px;">跳转链接URL</td>
                    <td style="vertical-align:middle; text-align:left; height:28px;">
                        <input type="text" id="responseUrl" name="responseUrl"
                               value="$!{icon.responseUrl}"
                               size="100"
                               maxlength="500"
                               placeholder="输入跳转链接URL（格式：https://www.jd.com 或者http://www.jd.com）"/>
                    </td>
                </tr>

                <tr>
                    <td style="vertical-align:middle; text-align:right; height:28px;">启用状态</td>
                    <td style="vertical-align:middle; text-align:left; height:28px;">
                        <input type="radio" id="iconPutOn" name="iconPutOn" value="true"
                            #if($!icon.putOn == true) checked="checked" #end
                        />启用
                        <input type="radio" id="iconPutOn" name="iconPutOn" value="false"
                            #if($!icon.putOn == false) checked="checked" #end
                        />停用
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:right; height:28px;">定时发布</td>
                    <td style="vertical-align:middle; text-align:left; height:28px;">
                        <input type="search" id="iconStartTimeStr" name="iconStartTimeStr"
                               value="$!date.format('yyyy-MM-dd HH:mm:ss ',$!{icon.getStartTime()})"
                               size="20"
                               placeholder="输入发布时间"/>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:right; height:28px;">定时取消发布</td>
                    <td style="vertical-align:middle; text-align:left; height:28px;">
                        <input type="search" id="iconEndTimeStr" name="iconEndTimeStr"
                               value="$!date.format('yyyy-MM-dd HH:mm:ss ',$!{icon.getEndTime()})"
                               size="20"
                               placeholder="输入取消发布时间"/>
                        &nbsp;&nbsp;<input type="button" onclick="MaxEndTime()" value="永久发布"/>(备注:点击按钮 定时取消发布时间为3018年)
                    </td>
                </tr>

                </tr>

                <tr>
                    <td colspan="2">
                        <input type="button" onclick="onSubmit()" value="提交"/>&nbsp;&nbsp;
                        <input type="button" onclick="comeback()" value="返回"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var comeback = function () {
        document.location.href = "/icons";
    }

    jQuery(document).ready(
            function () {
                jQuery("#iconStartTimeStr").datetimepicker({
                    dateFormat: "yy-mm-dd",
                    timeFormat: "HH:mm:ss",
                    controlType: 'select',
                    oneLine: true,
                    currentText: "当前时间",
                    closeText: "完成",
                    minTime: new Date(),
                    minDate: new Date(),
                    hour: 0,
                    minute: 0,
                    second: 0
                });
                jQuery("#iconEndTimeStr").datetimepicker({
                    dateFormat: "yy-mm-dd",
                    timeFormat: "HH:mm:ss",
                    controlType: 'select',
                    oneLine: true,
                    currentText: "当前时间",
                    closeText: "完成",
                    minTime: new Date(),
                    minDate: new Date(),
                    hour: 23,
                    minute: 59,
                    second: 59
                });
            }
    );


    var MaxEndTime = function () {
        jQuery('#iconEndTimeStr').val('3018-06-18 12:00:00');
    }

    var onSubmit = function () {

        var iconWeight = jQuery('input[name=iconWeight]').val();
        if (iconWeight == null || jQuery.trim(iconWeight) == '') {
            alert('权重不能为空');
            return;
        }
        if (iconWeight < -500 || iconWeight > 500) {
            alert('权重范围应为[-500至500]');
            return;
        }

        var desc = jQuery('input[name=desc]').val();
        if (desc == null || jQuery.trim(desc) == '') {
            alert('[ICON描述]不能为空');
            return;
        }
        if (desc.length > 500) {
            alert('[ICON描述]长度不能大于500');
            return;
        }
        var imgUrl = jQuery('input[name=imgUrl]').val();
        if (imgUrl == null || jQuery.trim(imgUrl) == '') {
            alert('[ICONURL]不能为空');
            return;
        }
        if (imgUrl.length < 7 | imgUrl.length > 200) {
            alert('[ICONURL]长度必须在7与200之间');
            return;
        }
        if (jQuery.trim(imgUrl).substr(0, 4) != 'http') {
            alert('[ICONURL格式错误]');
            return;
        }

        var responseUrl = jQuery('input[name=responseUrl]').val();
        if (responseUrl == null || jQuery.trim(responseUrl) == '') {
            alert('[跳转链接]不能为空');
            return;
        }
        if (responseUrl.length < 4 | responseUrl.length > 200) {
            alert('[跳转链接]长度必须在4与200之间');
            return;
        }
        if (jQuery.trim(responseUrl).substr(0, 4) != 'http') {
            alert('[跳转链接格式错误]');
            return;
        }

        var iconEndTime = $.trim(document.getElementById("iconEndTimeStr").value);
        var iconStartTime = $.trim(document.getElementById("iconStartTimeStr").value);
        var iconPutOn = jQuery('input[name="iconPutOn"]:checked').val();
        if (iconPutOn == null || jQuery.trim(iconPutOn) == '') {
            alert('是否启用不能为空');
            return;
        }
        if (iconStartTime == null || jQuery.trim(iconStartTime) == '') {
            alert('发布时间不能为空');
            return;
        }
        if (iconEndTime == null || jQuery.trim(iconEndTime) == '') {
            alert('取消发布时间不能为空');
            return;
        }
        if (iconEndTime != "" && iconEndTime < iconStartTime) {
            alert('取消发布时间不能小于发布时间');
            return;
        }

        var isUpdateOperate = $iconId;
        if (isUpdateOperate == null || isUpdateOperate < 0) {
            addImage();
        } else {
            updateIcon();
        }
    }


    <!--添加按钮 -->
    var addImage = function () {
        var iconEndTimeStr = $.trim(document.getElementById("iconEndTimeStr").value);
        var iconStartTimeStr = $.trim(document.getElementById("iconStartTimeStr").value);
        var iconPutOn = jQuery('input[name="iconPutOn"]:checked').val();
        var iconWeight = jQuery('input[name=iconWeight]').val();
        var desc = $.trim(document.getElementById("desc").value);
        var imgUrl = $.trim(document.getElementById("imgUrl").value);
        var responseUrl = $.trim(document.getElementById("responseUrl").value);
        var sure = confirm("确定添加ICON？");
        if (sure == true) {
            jQuery.ajax({
                type: 'POST',
                url: '//127.0.0.1/icons',
                data: {
                    desc: desc,
                    imgUrl: imgUrl,
                    responseUrl: responseUrl,
                    weight: iconWeight,
                    putOn: iconPutOn,
                    startTime: iconStartTimeStr,
                    endTime: iconEndTimeStr

                },
                success: function (data) {
                    var json=JSON.stringify(data);
                    var jsonObject=JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("添加成功");
                        comeback();
                        return;
                    } else if (jsonObject.code == 1) {
                        alert("该用户已存在！");
                    } else {
                        alert("参数错误")
                    }
                    window.location.reload();
                },
                error: function () {
                    alert("出错了");
                }
            })
        }
    }

    <!--修改按钮 -->
    var updateIcon = function () {
        var id=$icon.getId();
        var iconEndTimeStr = $.trim(document.getElementById("iconEndTimeStr").value);
        var iconStartTimeStr = $.trim(document.getElementById("iconStartTimeStr").value);
        var iconPutOn = jQuery('input[name="iconPutOn"]:checked').val();
        var iconWeight = jQuery('input[name=iconWeight]').val();
        var desc = $.trim(document.getElementById("desc").value);
        var imgUrl = $.trim(document.getElementById("imgUrl").value);
        var responseUrl = $.trim(document.getElementById("responseUrl").value);
        var url = '//127.0.0.1/icons/' + '$!icon.id';
        var sure = confirm("确定修改ICON？");
        if (sure == true) {
            jQuery.ajax({
                url: url,
                type: 'PUT',
                data: {
                    id:id,
                    desc: desc,
                    imgUrl: imgUrl,
                    responseUrl: responseUrl,
                    weight: iconWeight,
                    putOn: iconPutOn,
                    startTime: iconStartTimeStr,
                    endTime: iconEndTimeStr
                },
                success: function (data) {
                    var json=JSON.stringify(data);
                    var jsonObject=JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("修改成功");
                        comeback();
                        return;
                    } else if (data == 0) {
                        alert("用户不存在")
                    } else {
                        alert("参数错误")
                    }
                },
                error: function () {
                    alert("出错了");
                }
            })
        }
    }

</script>
