.page{max-width: 720px;overflow: hidden;}
.home{background: #f2f2f2;overflow: hidden;}
/*banner begin*/
.banner{ position:relative; height:150px; overflow:hidden;display:block;margin-top:56px;}
.banner li img{ width:100%; height:150px;}
.banner .numb{ position:absolute; left:0; bottom:0px; height:24px; line-height:24px; width:100%;  background:rgba(0,0,0,0); text-align:center;}
.banner .numb span{border-radius:6px; height:12px; margin:0 4px; width:12px; display:inline-block; background:#fff; cursor:pointer}
.banner .numb span.on{ background:#62b12e;}
/*banner end*/
/*navi begin*/
.section {width: 100%;cursor: move;}
.secnav li {float: left;width: 25%;background: #e6e6e6;}
.secnav li div {padding-right: 1px;}
.secnav li a {text-align: center;display: block;background: #fff;padding-top: 10px;}
.secnav li a img {width: 50%;}
.secnav li a span {display: block;height: 30px;line-height: 30px;font-size: 14px;font-weight:bold;text-align: center;}
/*navi end*/
/*鏈懆鎺ㄨ崘*/
.bztj{padding-left:10px;height: 40px;border-top: 1px solid #d6d6d6;text-align: left;background-color: #f2f2f2;font-size: 18px;color: #5c5c5c;line-height: 40px;font-weight: bold;}
.bztj img{margin-left: 10px;}
.part ul li{float: left;width: 49.3%;border-top: 1px solid #d6d6d6;border-right: 1px solid #d6d6d6;height: 80px;-webkit-appearance: none;}
.pic{float: left;margin:15px 5px 5px 10px;}
.pic img{width: 70px;height: 50px;}
.messa{margin: 15px 0px 5px 2px;overflow:auto;max-height: 62px;}
.messa p{margin: 2px;}
.title{color:#444444;font-size: 14px;font-weight: bold;}
.info{color: #888888;font-size: 10px;}
.ticket{margin-bottom: 60px;}
.free{color:#62b12e;font-size: 14px;}
.pay{color:#ffa200;font-size: 14px;}
/*foot*/
.footerlist{background: #fff;text-align:center;position: fixed;bottom: 0px;width: 100%;max-width: 720px;}
.footerlist li{float: left;width: 25%;border-top: 1px solid #cccccc; text-align: center;}
.footerlist li a{display: block;padding-top: 8px;text-align: center;}
.footerlist li a span{line-height: 20px;font-size: 14px;color: #252525;}
.footerlist li a .iconfont{font-size: 18px;}
.footerlist .footsy span{color: #6892ff;}
/*foot end*/