#set($title = "轮播图管理")
<head>
    <link rel="stylesheet" type="text/css" href="http://misc.360buyimg.com/pop-man/201007/skin/erpbase.css"
          media="all"/>
     <script type="text/javascript"
            src="/js/common/jquery.min.js"></script>
</head>
<div id="posi">
    <div>您当前的位置：<a href="#">交通卡在线充值系统后台</a>&nbsp;&gt;&nbsp;<a href="#">$title</a></div>
</div>
<div id="content">
    <div class="i-con1 table_list" style="word-break: break-all" style="word-break: break-all">
        <div class="tb-x1 resultlist">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th width="4%">序号</th>
                    <th width="7%">权重</th>
                    <th width="8%">轮播图描述</th>
                    <th width="15%">广告图</th>
                    <th width="13%">创建及修改时间</th>
                    <th width="13%">上下线时间</th>
                    <th width="10%">操作人</th>
                    <th width="6%">启用状态</th>
                    <th width="6%">发布状态</th>
                    <th width="12%">操作</th>
                </tr>

                #if($adImageList && $adImageList.size() > 0)
                    #foreach($adImage in $adImageList)
                        <tr>
                            #set($count=$velocityCount)
                            <td>$!{count}</td>
                            <td>
                                <input name="adImageWeight$adImage.id" type="number" id="adImageWeight$adImage.id"
                                       style="width:90%"
                                       value="$adImage.weight"
                                       onchange="updateAdImageWeight('$adImage.id',jQuery('#adImageWeight$adImage.id').val())"/>
                            </td>
                            <td>$!{adImage.desc}</td>
                            <td>
                                <a target="_blank" href="$!{adImage.responseUrl}">
                                    <img style="width: 180px;height: 100px;" src="$!{adImage.imgUrl}"/>
                            </td>
                            <td>创:$!date.format('yyyy-MM-dd HH:mm:ss ',$!{adImage.getCreatedTime()})<br>
                                修:$!date.format('yyyy-MM-dd HH:mm:ss ',$!{adImage.getModifiedTime()})
                            </td>
                            <td>起:$!date.format('yyyy-MM-dd HH:mm:ss ',$!{adImage.getStartTime()})<br>
                                止:$!date.format('yyyy-MM-dd HH:mm:ss ',$!{adImage.getEndTime()})</td>
                            <td>$!{adImage.operator}</td>
                            <td>
                                #if($!{adImage.putOn})
                                    <label style="text-align: center;color:#35FF1B">启用</label>
                                #else
                                    <label style="text-align: center;color:#FF0000">停用</label>
                                #end
                            </td>
                            <td>
                                #if($!{adImage.releaseStatus})
                                    <label style="text-align: center;color:#35FF1B">已发布</label>
                                #else
                                    <label style="text-align: center;color:#FF0000">未发布</label>
                                #end
                            </td>
                            <td>
                                #if($!{adimageAuthorityFlag})
                                    #if($!{adImage.putOn})
                                        <input type="button" value="停用"
                                               onclick="updateAdImageSwitch($!adImage.id,false)"/>
                                    #else
                                        <input type="button" value="启用"
                                               onclick="updateAdImageSwitch($!adImage.id,true)"/>
                                    #end&nbsp;
                                    <a href="/adImages/$!adImage.id"> <input type="button" value="修改"></a>
                                    <input type="button" value="删除" onclick="delAdImage($!adImage.id)"/>
                                #else
                                    <label style="text-align: center;color: #FF0000">无修改权限</label>
                                #end
                            </td>
                        </tr>
                    #end
                #else
                    <tr>
                        <td colspan="11">没有相关数据显示！</td>
                    </tr>
                #end
            </table>
            #if($!{adimageAuthorityFlag})
                #if($adImageList.size()<20)
                    <td><a href="/adImages/-1"><input type="button" value="添加轮播图+"/></td>
                #else
                    <label style="text-align: center;color: #FF0000">最多只能添加20个轮播图</label>
                #end
            #else
                <label style="text-align: center;color: #FF0000">无添加权限</label>
            #end

        </div>
    </div>
</div>
<script type="text/javascript">

    var comeback = function () {
        document.location.href = "/adImages";
    }

    var delAdImage = function (adImageId) {
        var adImageId = $.trim(adImageId);
        var tip = "确认删除此轮播图吗？";
        var url = '/adImages/' + adImageId;
        if (window.confirm(tip)) {
            jQuery.ajax({
                type: 'DELETE',
                url: url,
                success: function (data) {
                    var json=JSON.stringify(data);
                    var jsonObject=JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("操作成功");
                    } else if (jsonObject.code < 0) {
                        alert("模块不存在");
                    } else {
                        alert("您删除的信息不存在")
                    }
                    window.location.reload();
                },
                error: function () {
                    alert("出错了！");
                }
            })
        }
    }


    <!--停用启用 -->
    var updateAdImageSwitch = function (adImageId, putOnStatus) {
        var url = '/adImages/' + adImageId + '/putOn';
        var sure = confirm("确定修改轮播图？");
        if (sure == true) {
            jQuery.ajax({
                url: url,
                type: 'PATCH',
                data: {
                    putOn: putOnStatus,
                },
                success: function (data) {
                    var json=JSON.stringify(data);
                    var jsonObject=JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("修改成功");
                        comeback();
                        return;
                    } else if (jsonObject.code == 0) {
                        alert("用户不存在")
                    } else {
                        alert("参数错误")
                    }
                },
                error: function () {
                    alert("出错了");
                }
            })
        }
    }

    <!--权重 -->
    var updateAdImageWeight = function (adImageId, weight) {
        if (weight == '') {
            alert("权重不能为空")
            comeback();
            return;
        }
        if (weight < -500 || weight > 500) {
            alert('权重范围应为[-500至500]');
            comeback();
            return;
        }
        var url = '/adImages/' + adImageId + '/weight';
        var sure = confirm("确定修改轮播图？");
        if (sure == true) {
            $.ajax({
                url: url,
                type: 'PATCH',
                data: {
                    adImageId: adImageId,
                    weight: weight
                },
                success: function (data) {
                    var json=JSON.stringify(data);
                    var jsonObject=JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("修改成功");
                        comeback();
                        return;
                    } else if (jsonObject.code == 0) {
                        alert("用户不存在")
                    } else {
                        alert("参数错误")
                    }
                },
                error: function () {
                    alert("出错了");
                }
            })
        } else {
            comeback();
            return;
        }
    }
</script>