#set($title = "轮播图管理")
<head>
    <link rel="stylesheet" type="text/css" href="http://misc.360buyimg.com/pop-man/201007/skin/erpbase.css"
          media="all"/>
    <script type="text/javascript"
            src="/js/common/jquery.min.js"></script>
</head>
<div id="posi">
    <div>您当前的位置：<a href="#">交通卡在线充值系统后台</a>&nbsp;&gt;&nbsp;<a href="#">$title</a></div>
</div>
<div id="content">


    <div class="i-con1 table_list" style="word-break: break-all" style="word-break: break-all">
            <tr>
                <td>
                    输入退款订单，多个订单之间用,分隔<br>
                    <input id="orderIds" name="orderIds" type="text" style="height: 40%;width: 80%" value=""/>
                </td>

            <tr>
                <br>
                <br>
                <td colspan="6">
                    <input type="submit" onclick="refund()" value="提交"/>
                    &nbsp; &nbsp;
                    <input type="reset" value="重置"/>
                </td>
            </tr>
        <br>
    </div>
</div>
</div>
<script type="text/javascript">

    var comeback = function () {
        document.location.href = "/adImages";
    }

    var refund = function () {
        var orderIds=$('#orderIds').val();
        var url = '/refunds';
        var sure = confirm("确定要进行人工退款吗？");
        if (sure == true) {
            jQuery.ajax({
                url: url,
                type: 'POST',
                data: {
                    orderIds: orderIds,
                },
                success: function (data) {
                    var json = JSON.stringify(data);
                    var jsonObject = JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert(JSON.stringify(jsonObject.data)+"等订单，已插入退款任务");
                        return;
                    } else if (jsonObject.code == 0) {
                        alert("用户不存在")
                    } else {
                        alert("参数错误")
                    }
                },
                error: function () {
                    alert("出错了");
                }
            })
        }
    }

</script>