#set($title = "轮播图管理")
<head>
    <link rel="stylesheet" type="text/css" href="http://misc.360buyimg.com/pop-man/201007/skin/erpbase.css"
          media="all"/>
    <script type="text/javascript"
            src="/js/common/jquery.min.js"></script>
</head>
<div id="posi">
    <div>您当前的位置：<a href="#">交通卡在线充值系统后台</a>&nbsp;&gt;&nbsp;<a href="#">$title</a></div>
</div>
<div id="content">


    <div class="i-con1 table_list" style="word-break: break-all" style="word-break: break-all">
        <form action="/refunds" method="post">
            <tr>
                <td>
                    输入退款订单，多个订单之间用,分隔<br>
                    <input id="queryRefundId" name="orderIds" type="text" style="height: 40%;width: 80%" value=""/>
                </td>

            <tr>
                <br>
                <br>
                <td colspan="6">
                    <input type="submit" value="提交"/>
                    &nbsp; &nbsp;
                    <input type="reset" value="重置"/>
                </td>
            </tr>
        </form>
        <br>
    </div>
</div>
</div>
<script type="text/javascript">

    var comeback = function () {
        document.location.href = "/adImages";
    }

    var delAdImage = function (adImageId) {
        var adImageId = $.trim(adImageId);
        var tip = "确认删除此轮播图吗？";
        var url = '//127.0.0.1/adImages/' + adImageId;
        if (window.confirm(tip)) {
            jQuery.ajax({
                type: 'DELETE',
                url: url,
                success: function (data) {
                    var json = JSON.stringify(data);
                    var jsonObject = JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("操作成功");
                    } else if (jsonObject.code < 0) {
                        alert("模块不存在");
                    } else {
                        alert("您删除的信息不存在")
                    }
                    window.location.reload();
                },
                error: function () {
                    alert("出错了！");
                }
            })
        }
    }


    <!--停用启用 -->
    var updateAdImageSwitch = function (adImageId, putOnStatus) {
        var url = '//127.0.0.1/adImages/' + adImageId + '/putOn';
        var sure = confirm("确定修改轮播图？");
        if (sure == true) {
            jQuery.ajax({
                url: url,
                type: 'PATCH',
                data: {
                    putOn: putOnStatus,
                },
                success: function (data) {
                    var json = JSON.stringify(data);
                    var jsonObject = JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("修改成功");
                        comeback();
                        return;
                    } else if (jsonObject.code == 0) {
                        alert("用户不存在")
                    } else {
                        alert("参数错误")
                    }
                },
                error: function () {
                    alert("出错了");
                }
            })
        }
    }

    <!--权重 -->
    var updateAdImageWeight = function (adImageId, weight) {
        if (weight == '') {
            alert("权重不能为空")
            comeback();
            return;
        }
        if (weight < -500 || weight > 500) {
            alert('权重范围应为[-500至500]');
            comeback();
            return;
        }
        var url = '//127.0.0.1/adImages/' + adImageId + '/weight';
        var sure = confirm("确定修改轮播图？");
        if (sure == true) {
            $.ajax({
                url: url,
                type: 'PATCH',
                data: {
                    adImageId: adImageId,
                    weight: weight
                },
                success: function (data) {
                    var json = JSON.stringify(data);
                    var jsonObject = JSON.parse(json);
                    if (jsonObject.code == 200) {
                        alert("修改成功");
                        comeback();
                        return;
                    } else if (jsonObject.code == 0) {
                        alert("用户不存在")
                    } else {
                        alert("参数错误")
                    }
                },
                error: function () {
                    alert("出错了");
                }
            })
        } else {
            comeback();
            return;
        }
    }
</script>